.subheader-main {
    background-color: #323232;
    display: flex;
    border-bottom: 4px solid #CD2122;
    gap: .3em;
    .subheader-section-option {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: .5em;
        transition: ease-in-out .3ms;
        border-right: 1px solid #222222;
        .option-heading {
            color: #DEEFFF;
        }
    }
    .subheader-section-option:hover {
        background-color: #CD2122;
    }
}